.hidden {
	display: none;
}

a {
	text-decoration: none;
}

.allArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mainArea {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 8vw auto 15vw auto;
}
/* 폰 이미지 */
.phoneImageArea {
	padding: 0 30px;
}
.phoneImage {
	display: none;
	width: 380px;
	height: 580px;
}
@media (min-width: 865px) {
	.phoneImage {
		display: flex;
		flex-direction: column;
	}
}

/* 로그인 영역 */
.loginArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 30px 0 20px 0;
	border: 1px solid #dbdbdb;
	width: 350px;
	max-width: 350px;
}

.loginArea a {
	text-decoration: none;
}

/* 로그인 로고 영역 */
.loginLogoArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}
/* 로그인 로고(이미지) */
.loginLogo {
	width: 190px;
	height: 60px;
	padding: 20px;
}

.loginInputArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* 로그인 - 아이디 & 패스워드 */
.loginUserId,
.loginPw {
	margin: 2px 0;
	padding: 9px 0 7px 8px;
	background-color: #fafafa;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
	width: 258px;
	height: 18px;
}
.loginUserId:focus,
.loginPw:focus {
	outline: none;
	border: 1px solid #a8a8a8;
}

.loginBtnArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px 0;
}

.notBtn {
	background-color: #67b5fa;
	color: #ffffff;
	font-size: 0.85rem;
	font-weight: bold;
	text-align: center;
	padding: 8px 80px;
	border: 0;
	border-radius: 8px;
	cursor: default;
}

.signInBtn {
	background-color: #0796f6;
	color: #ffffff;
	font-weight: bold;
	margin: 13px 0 14px 0;
	padding: 8px 80px;
	border: 0;
	border-radius: 8px;
}
.signInBtn:hover {
	background-color: #1a77f2;
	cursor: pointer;
}

/* '또는' 영역 */
.orArea {
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 3px 0 30px 0;
}
.or_Line {
	background-color: #dbdbdb;
	height: 1px;
	width: 100px;
	margin: auto 0;
}
.or_Text {
	padding: 0 20px;
	font-size: 0.8rem;
	color: #6b6b6b;
}

.fbLoginArea {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}
.fbIcon {
	width: 15px;
	height: 15px;
}

.fbLogin {
	color: #385185;
	font-size: 0.9rem;
	font-weight: bold;
	border-bottom: 8px;
	padding: 0 0 0 7px;
}

/* '비밀번호를 잊으셨나요?' */
.forgetPw {
	display: flex;
	flex-direction: column;
	font-size: 0.78rem;
	color: #385185;
	cursor: pointer;
}

/* 회원가입 영역  */
.signInArea {
	display: flex;
	flex-direction: row;
	border: 1px solid #dbdbdb;
	justify-content: center;
	align-items: center;
	width: 350px;
	margin: 10px auto;
	padding: 20px 0;
	font-size: 0.85rem;
}
/* '가입하기' 버튼 */
.singInClick {
	color: #0095f6;
	font-weight: bold;
	padding-left: 5px;
	cursor: pointer;
}

/* 앱을 다운로드 하세요 */
.appDLText {
	justify-content: center;
	text-align: center;
	margin: 17px auto;
	font-size: 0.91rem;
}

.storeBtnArea {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.storeBtn {
	margin: 0 5px;
}

.appStore_img {
	width: 135px;
	height: 42px;
}

.playStore_img {
	width: 135px;
	height: 42px;
}

/* 하단 약관 및 api 등 */
.bottomContent {
	justify-content: center;
	margin: 3vw auto 0 auto;
}
.contentText {
	cursor: pointer;
}

.contentLink,
.copyright {
	color: #6b6b6b;
	font-size: 0.8rem;
	padding: 0 6px;
	line-height: 20px;
}

.lang_copyright {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 20px 0;
}

.selectLang {
	outline: none;
	border: 0px;
	text-align: end;
	width: 55px;
	font-size: 0.8rem;
	color: #737373;
}
